.a{
    padding-left: 5vw;
    color: white;
    margin: 40px 0;
    & > .a-title{
        font-size: 2.5rem;
        margin-bottom: 30px;
        text-decoration: underline;
        color: var(--turquoise);
    }
}
.a-text{
    font-size: 1.75rem;
    padding-left: 5vw;
    & > p:not(:last-child){
        margin-bottom: 30px;
    }
}