.h{
    color: white;
    margin: 40px 0;
    & > .h-title{
        font-size: 2.5rem;
        margin-bottom: 30px;
        text-decoration: underline;
        color: var(--turquoise);
    }
}
.h-text{
    font-size: 1.75rem;
    & > p:not(:last-child){
        margin-bottom: 30px;
    }
}
.h-subtitle{
    text-decoration: underline;
}
.card-h{
    background: rgba(97, 97, 97, 0.5);
    padding: 20px 0px;
    border-radius: 15px;
    & *{
        margin: 40px;
    }
}
.p-20{
    padding: 20px;
}
.m-auto{
    margin: auto;
}
.w90{
    width: 90%;
}