.no-resize{
    resize: vertical;
}
.staffCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #505050;
    padding: 20px;
    border-radius: 20px;
    margin-top: 20px;
    & textarea{
        border-radius: 20px;
        outline: none;
        padding: 20px;
        &:not(:disabled){
            background-color: #dddcdcce;
        }
        &:focus{
            border: 2px solid var(--turquoise)
        }
    }
}

#staffCards{
    display: flex;
    align-items: center;
    flex-direction: column;
    & #datos{
        display: grid;
        grid-template-columns: repeat(3, auto);
        gap: 40px;
    }
    & .enlaces{
        display: flex;
        flex-direction: row;
        width: 100%;
        min-height: 20px;
        justify-content: center;
        align-items: center;
        & a{
            margin-left: 40px;
            width: 32% !important;
        }
    }
}
@media screen and(max-width: 1400px) {
    #staffCards{
        & #datos{
            grid-template-columns: repeat(2, auto) !important;
        }
        & .staffCard{
            margin-top: 0px;
            &:first-child, &:nth-child(2){
                margin-top: 20px;
            }
        }
    }
}
@media screen and(max-width: 1000px) {
    #staffCards{
        & .staffCard{
            margin-top: 0px;
            &:first-child{
                margin-top: 20px;
            }
        }
        & #datos{
            grid-template-columns: repeat(1, auto) !important;
        }
        & .enlaces{
            flex-direction: column !important;
            & a{
                width: 100% !important;
            }
        }
    }
}
.text-S{
    font-size: 0.75em;
    align-self: center;
}
.stars{
    display: flex;
    flex-direction: row;
    gap: 10px;
    & .star{
        & svg {
            fill: var(--gray);
        }
        &:hover{
            cursor: pointer;
        }
        &.selected{
            & svg{
                fill: var(--lightyellow);
            }
        }
    }
}